@import url(Variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: 50px;
    color: var(--color-4);
    font-family: 'SF-PRO-TEXT-BOLD';
    justify-content: space-between;
}

.body {
    background-image: url("../Storage/Img/Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-1);
}

/* This gonna make all the bar of header turn on red  */
 .header {
        background: red;
        /* Here we can see what space gets the section of Header */
        /* With the color, we can see the space of header. */
}

.header .header__login {
    background: blue;
}

.header .header__information {
    background: green;
}

.header .header__filtre {
    background: violet;
}

.header img {
    height: 30px;
}

.header p {
    font-size: 1.2rem;
    margin-right: 30vh;
}

.nav__user {
    display: flex;
    flex-direction: column;
    color: var(--color-4);
    margin-top: 3vh;
}

.nav__user p{
    font-size: 1.8rem;
    margin-left: 4%;
    margin-top: 1vh;
    font-family: 'SF-PRO-TEXT-LIGHT';
}

.nav__user span {
    font-size: 1.9rem;
    margin-left: 4%;
    font-family: 'SF-PRO-TEXT-HEAVY';
}

.nav__user {
    background: yellow;
}

.nav__user p {
    background: purple;
}

.nav__user span {
    background: orange;
}

.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

.nav__balance,
.nav__balance__right {
    width: 48%; 
    margin-top: 3vh;
    color: var(--color-4)
}

.nav__balance {
    background: green;
}

.nav__balance span {
    font-family: 'SF-PRO-TEXT-MEDIUM';
    font-size: 1rem;
}

.nav__balance p {
    font-family: 'ROBOTO-BOLD';
    font-size: 2rem;
}

.nav__balance__right {
    background: #83ba5e;
}

.nav__balance__right span {
    font-family: 'SF-PRO-TEXT-MEDIUM';
    font-size: 1rem;
}

.nav__balance__right p {
    font-family: 'ROBOTO-BOLD';
    font-size: 2rem;
}

.White_Bar {
    display: flex;
    width: 45%;
    height: 17px;
    position: absolute;
    left: 4%;
    z-index: 1;
    margin-top: 1vh; 
}

.Green_Bar {
    display: flex;
    width: 35%;
    height: 17px;
    position: absolute;
    left: 4%;
    z-index: 2; 
    margin-top: 1vh;
}

.Wither {
    display: flex;
    width: 45%;
    height: 17px;
    position: absolute;
    z-index: 1;
    margin-top: 1vh;
}

.Grey_Bar {
    display: flex;
    width: 15%;
    height: 17px;
    position: absolute;
    z-index: 2;
    margin-top: 1vh;
}

.main {
    margin-top: 7vh;
    background: var(--color-4);
    border-radius: 20%;
}

.nav__ul {
    height: 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
}

.nav__ul li {
    list-style: none;
}

/* .nav__ul li a {
    background: wheat;
} */

.nav__ul li a {
    width: 105px;
    height: 25vh;
    font-family: 'SF-PRO-TEXT-SEMIBOLD';
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    color: var(--color-1);
    margin-left: 2vh;
}