<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Balance.css">

    <title>Balance</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__login">
            <img src="../Storage/Img/bank.png" class="Icon-Inveto">
        </div>
        <div class="header__information">
            <p>SecurePl</p>
        </div>
        <div class="header__filtre">
            <img src="../Storage/Img/menu-white.svg" class="Filtrer-White">
        </div>
    </header>

<section class="Total__Balance">
    <div class="nav_text">
        <p class="text">Total
        <br>Balance</p>
        <span class="amount_money">$214,417</span>
    </div>
</section>

<section class="Money_Money_Money">
        <nav class="nav__Sections">
            <div class="Sections">
                <ul class="nav__ul__Sections">
                    <li>
                        <a href="#">
                            <p class="Assets">Assets</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <p class="Debt">Debt</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="Income">Income</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
</section>

<main class="main">
    <div class="Image__Graphic__Container">
        <img src="../Storage/Img/Balance__Graphic.png" class="Balance__Graphic">
    </div>
    <nav class="Days_Of_The_Week__Graphic">
        <a href="#">S</a>
        <a href="#">M</a>
        <a href="#">T</a>
        <a href="#">W</a>
        <a href="#">F</a>
        <a href="#">S</a>
    </nav>
</main>

<section class="Spending__Footer">
    <nav class="nav__Spending">
        <div class="Images__container">
            <img src="../Storage/Img/bulb-512.jpg" class="light_bulb">
        </div>
        <div class="nav__text__right__Spending">
            <div class="text__right__Spending">
                <p class="Tittle_nav__Spending">Spending.</p>
                <span class="tex__nav__Spending">You forgot to add debt card numbers at payment#1323. Add it now.</span>
            </div>
        </div>
        <div class="nav__exit_button__Spending">
            <a href="../Index.html">
                <img src="../Storage/Img/Frame 20.svg" class="X_Button__Spending">
            </a>
        </div>
    </nav>
</section>

<footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../Storage/Img/name=home.svg" class="icon_Home">
                </a>
            </li>
            <li>
                <a href="../Views/Balance.html">
                    <img src="../Storage/Img/name=content_green.svg" class="icon_Content">
                </a>
            </li>
            <li>
                <a href="../Views/Investing.html">
                    <img src="../Storage/Img/name=menu.svg" class="icon_Menu">
                </a>
            </li>
            <li>
                <a href="../Index.html">
                    <img src="../Storage/Img/name=message.svg" class="icon_Message">
                </a>
            </li>
            <li>
                <a href="../Index.html">
                    <img src="../Storage/Img/name=center_White.svg" class="icon_Center">
                    <img src="../Storage/Img/Ellipse 2.svg" class="green_Button">
                </a>
            </li>
        </ul>    
    </footer>
</body>
</html>