<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Investing.css">
    <title>Investing Tips</title>
</head>
<body>
    <header class="header">
        <div class="header__login">
            <img src="../Storage/Img/bank.png" class="Icon-Inveto">
        </div>
        <div class="header__information">
            <p>SecurePl</p>
        </div>
        <div class="header__filtre">
            <img src="../Storage/Img/menu-white.svg" class="Filtrer-White">
        </div>
    </header>

    <section class="Investigationandpig">
        <div class="nav__text">
            <p>Investing Tips</p>
        </div>
        <div class="nav__container">
            <div class="nav__images__container">               
                <img src="../Storage/Img/Pig.svg" class="Pig">
            </div>
            <div class="nav__text__right">
                <div class="text__right">
                    <p class="Tittle_nav">What is a Safe?</p>
                    <span class="author">By Miguel</span>
                    <a href="../index.html">
                        <button class="nav__button">LEARN MORE</button>
                    </a>
                </div>
                <div class="nav__exit_button">
                    <a href="../index.html">
                        <img src="../Storage/Img/Frame 20.svg" class="X_Button">
                    </a>
                </div>
            </div>
        </div>
        <div class="star">
            <img src="../Storage/Img/Vector.svg" class="yes">
        </div>
        <div class="spot_black">
            <img src="../Storage/Img/Ellipse 3.svg" class="Maybe">
        </div>
        <div class="spot_white">
            <img src="../Storage/Img/Ellipse 4.svg" class="Callme">
        </div>
    </section>
    
    
    
    




    <div class="letters">
        <P class="cards_text_up">My Cards (6)</P>
    </div>
    <main class="main">
        <div class="cards__container">
            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 6175</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$47,417</p>
                <div class="card_footer">
                    <img src="../Storage/Img/Mastercard.svg" class="Mastercard">
                </div>
            </div>
    
            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 4321</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$35,678</p>
                <div class="card_footer">
                    <img src="../Storage/Img/Visa.svg" class="Visa">
                </div>
            </div>
    
            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 9876</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$29,123</p>
                <div class="card_footer">
                    <img src="../Storage/Img/Amex.png" class="Amex">
                </div>
            </div>
    
            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 1234</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$52,890</p>
                <div class="card_footer">
                    <img src="../Storage/Img/Discover.png" class="Discover">
                </div>
            </div>

            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 4000</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$52,890</p>
                <div class="card_footer">
                    <img src="../Storage/Img/LogoBancolombia.png" class="Bancolombia">
                </div>
            </div>

            <div class="card">
                <div class="card_header">
                    <p class="Number_account">**** 2007</p>
                    <img src="../Storage/Img/PIN.svg" class="PIN">
                </div>
                <p class="Amount">$21,102</p>
                <div class="card_footer">
                    <img src="../Storage/Img/Bancocajasocial.png" class="Bancocajasocial">
                </div>
            </div>

        </div>
    </main>
    












    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../Storage/Img/name=home.svg" class="icon_Home">
                </a>
            </li>
            <li>
                <a href="../Views/Balance.html">
                    <img src="../Storage/Img/name=content.svg" class="icon_Content">
                </a>
            </li>
            <li>
                <a href="../Views/Investing.html">
                    <img src="../Storage/Img/name=menu_green.svg" class="icon_Menu">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../Storage/Img/name=message.svg" class="icon_Message">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../Storage/Img/name=center_White.svg" class="icon_Center">
                    <img src="../Storage/Img/Ellipse 2.svg" class="green_Button">
                </a>
            </li>
        </ul>
        
    </footer>
</body>
</html>
