<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Investing.css">
    <title>Investing Tips</title>
</head>
<body>
    <header class="header">
        <div class="header__login">
            <img src="../Storage/Img/menu-black.svg" class="Icon-Inveto">
        </div>
        <div class="header__information">
            <p>INVETO</p>
        </div>
        <div class="header__filtre">
            <img src="../Storage/Img/filtrer-black.svg" class="Filtrer-White">
        </div>
    </header>

    <div class="nav__text">
                <p>Investing Tips</p>
    </div>
    <div class="nav__container">
   
    <div class="nav__images__container">
        <div class="nav__images">
            <img src="../Storage/Img/Pig.svg" class="Pig">
            <!-- <img src="../Storage/Img/Frame 20.svg" class="X_Button"> -->
        </div>
    </div>


    <div class="nav__text__right">
        <p class="Tittle_nav">What is an ETF?</p>
        <span class="author">By James B, PHD</span>
        <button class="nav__button">LEARN MORE</button>
    </div>
</div>









    <main class="main">
        <div class="letters">
            <P class="cards_text_up">My Cards (4)</P>
        </div>
        <div class="cards__container">
            <div class="text_cards">
                <p class="Number_account"> **** 6175</p>
                <p class="Amount">$ 47,417</p>
            </div>
        </div>
    </main>












    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../Storage/Img/name=home.svg" class="icon_Home">
                </a>
            </li>
            <li>
                <a href="../Views/Balance.html">
                    <img src="../Storage/Img/name=content.svg" class="icon_Content">
                </a>
            </li>
            <li>
                <a href="../Views/Investing.html">
                    <img src="../Storage/Img/name=menu_green.svg" class="icon_Menu">
                </a>
            </li>
            <li>
                <a href="../Index.html">
                    <img src="../Storage/Img/name=message.svg" class="icon_Message">
                </a>
            </li>
            <li>
                <a href="../Index.html">
                    <img src="../Storage/Img/name=center_White.svg" class="icon_Center">
                    <img src="../Storage/Img/Ellipse 2.svg" class="green_Button">
                </a>
            </li>
        </ul>
        
    </footer>
</body>
</html>